@charset "ISO-8859-1";

/* Light Theme */
body.light-theme {
    background-color: white;
    color: black;
}

/* Dark Theme */
body.dark-theme {
    background-color: black;
    color: white;
}

/* Additional styles for other elements */
.navbar-light-theme {
    background-color: #f8f9fa;
}

.navbar-dark-theme {
    background-color: #343a40;
}


.card-sh {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.cat-div {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.error {
    color: red;
}